{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block nav_left %}
{% endblock %}

{% block nav_title %}
    Login
{% endblock %}

{% block nav_right %}
{% endblock %}

{% block content %}

    <div class="login-container">

        <h2 class="login-title">Account Login</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn login-btn">
                Login
            </button>
        </form>

        <p class="register-link">
            Don't have an account?
            <a href="{% url 'signup' %}">Register</a>
        </p>

    </div>

{% endblock %}
