{% extends "base.html" %}

{% block title %}
    Cart
{% endblock %}

{% block nav_left %} <a href="{% url 'menu' %}" class="back-link">< Back</a>
{% endblock %}

{% block nav_title %}
    Cart Detail
{% endblock %}

{% block nav_right %}
{% endblock %}

{% block content %}

    <div class="cart-container">

        ```
        <!-- Item 1 -->
        <div class="cart-item">

            <div class="menu-img"></div>

            <div class="cart-info">
                <h3>Black Pepper Beef Pasta</h3>
                <div class="cart-meta">
                    <span class="price">£15</span>
                    <span class="qty">x1</span>
                </div>
            </div>

        </div>


        <!-- Item 2 -->
        <div class="cart-item">

            <div class="menu-img"></div>

            <div class="cart-info">
                <h3>Americano</h3>
                <div class="cart-meta">
                    <span class="price">£6</span>
                    <span class="qty">x1</span>
                </div>
            </div>

        </div>


        <hr>


        <!-- Total -->

        <div class="cart-total">

            <span>Total</span>

            <strong>£21</strong>

        </div>


        <hr>


        <!-- Special Request -->

        <div class="special-request">

            <label for="request">Special Requests (Optional)</label>

            <textarea id="request" placeholder="eg. No onions, extra sauce"></textarea>

        </div>


        <!-- Order Button -->

        <div class="place-order">

            <button class="btn order-btn">
                Place Order
            </button>

        </div>
        ```

    </div>

{% endblock %}
