{% extends "base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block nav_title %}
    SmartTable
{% endblock %}

{% block nav_right %} <a href="{% url 'cart' %}" class="cart-link">
    🛒 <span id="cart-count">0</span> </a>
{% endblock %}

{% block content %}

    <h2 class="welcome">Welcome! Table 1</h2>

    <!-- Category Filter -->

    <div class="menu-categories">

        <button class="category active">All</button>
        <button class="category">Starters</button>
        <button class="category">Mains</button>
        <button class="category">Drinks</button>

    </div>

    <!-- Menu List -->

    <div class="menu-list">

        <div class="menu-card">

            <div class="menu-img"></div>

            <div class="menu-info">

                <h3>Tomato Soup</h3>
                <p class="description">Classic tomato soup</p>
                <p class="price">£9</p>

            </div>

            <div class="quantity">

                <button>-</button>
                <span>0</span>
                <button>+</button>

            </div>

        </div>

        <div class="menu-card">

            <div class="menu-img"></div>

            <div class="menu-info">

                <h3>Black Pepper Beef Pasta</h3>
                <p class="price">£15</p>

            </div>

            <div class="quantity">

                <button>-</button>
                <span>0</span>
                <button>+</button>

            </div>

        </div>

        <div class="menu-card">

            <div class="menu-img"></div>

            <div class="menu-info">

                <h3>Americano / Latte</h3>
                <p class="price">£6</p>

            </div>

            <div class="quantity">

                <button>-</button>
                <span>0</span>
                <button>+</button>

            </div>

        </div>

    </div>

    <!-- Cart Button -->

    <div class="cart-bar">

        <a href="{% url 'cart' %}" class="btn cart-btn">
            View Cart (£0.00)

        </a>

    </div>

{% endblock %}
